.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
    }

#thietKeTrenGiay, #thietKeTrenHtml{
    border: 3px black solid;
}
.custom-fitness{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fit-title{
    background-color: #00C0FF;
    color: #fff;
    padding: 10px 0px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.custome-input-fitness{
    border: 1px solid #00C0FF;
    border-radius: 5px;
}
.ket-qua{
    border: 5px solid black;
    padding: 5px;
}